$_protipDefaultSkinColors: (
        'pro': #da2e2b,
        'blue': #336699,
        'red': #802731,
        'aqua': #339996,
        'dark': #333,
        'dark-transparent': rgba(20, 20, 20, .8),
        'black': #000,
        'leaf': #339959,
        'purple': #613399,
        'pink': #D457AA,
        'orange': #E64426,
        'white': #FFF
) !default;

@mixin protipColorArrowGenerator($skin, $color, $hasBorder) {

  ///////////// TOP
  .#{$skin}[data-pt-position="top-left"],
  .#{$skin}[data-pt-position="top"],
  .#{$skin}[data-pt-position="top-right"],
  .#{$skin}[data-pt-position="top-right-corner"] {
    .protip-arrow {
      border-top-color: $color;
      @if $hasBorder {
        &-border {
          border-top-color: #666;
        }
      }
    }
  }

  ///////////// BOTTOM
  .#{$skin}[data-pt-position="bottom-left"],
  .#{$skin}[data-pt-position="bottom"],
  .#{$skin}[data-pt-position="bottom-right"],
  .#{$skin}[data-pt-position="bottom-left-corner"] {
    .protip-arrow {
      border-bottom-color: $color;
      @if $hasBorder {
        &-border {
          border-bottom-color: #666;
        }
      }
    }
  }

  ///////////// LEFT
  .#{$skin}[data-pt-position="left-top"],
  .#{$skin}[data-pt-position="left"],
  .#{$skin}[data-pt-position="left-bottom"],
  .#{$skin}[data-pt-position="bottom-right-corner"] {
    .protip-arrow {
      border-left-color: $color;
      @if $hasBorder {
        &-border {
          border-left-color: #666;
        }
      }
    }
  }

  ///////////// RIGHT
  .#{$skin}[data-pt-position="right-top"],
  .#{$skin}[data-pt-position="right"],
  .#{$skin}[data-pt-position="right-bottom"],
  .#{$skin}[data-pt-position="top-left-corner"] {
    .protip-arrow {
      border-right-color: $color;
      @if $hasBorder {
        &-border {
          border-right-color: #666;
        }
      }
    }
  }
}

// Schemes
@each $colorName, $color in $_protipDefaultSkinColors {

  $skinSel: protip-skin-default--scheme-#{$colorName};

  .#{$skinSel} {
    &.protip {
      &-container {
        color: #fff;
        background: $color;
        font-family: sans-serif;
        transition: opacity 0.2s ease-out;
      }
    }
  }

  @include protipColorArrowGenerator(
          $skin: $skinSel,
          $color: $color
  );
}
